input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 10px;
    background: #707070;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    /* Override default look */
    -webkit-appearance: none;
    appearance: none;
    /* Centers thumb on the track */
    margin-top: -4px;
    /*custom styles*/
    background-color: #909090;
    height: 1rem;
    width: 1rem;
}

input[type='range']:active::-webkit-slider-thumb {
    background-color: orange;
}

fieldset {
    margin: 5px;
    padding: 20px;
}

@media only screen and (min-width: 576px) {
    input[type="range"] {
        width: 14rem;
    }
}